/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.background{
	background-image: url(resource/background.png);
	background-repeat: repeat;
}

.header{
	background-image: url(resource/blue-bg.png);
}

.footer{
	background-color: ButtonHighlight;
}

.title{
	color: Highlight;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
}

.anchor{
	font-size: 24px;
}

.module{
	color: Maroon;
	font-size: 24px;
	font-weight: bold;
}

.incomebtn{
	color: White;
	font-size: 11px;
	background-color: Green;
}

.expensesbtn{
	color: White;
	font-size: 11px;
	background-color: Red;
}


