<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ERPproject.html</welcome-file>
    <welcome-file>FinancialModule.html</welcome-file>
    <welcome-file>UserService.html</welcome-file>
  </welcome-file-list>
  
  <!-- StartUp Servlets -->
  <servlet>
    <servlet-name>StartUpServlet</servlet-name>
    <servlet-class>com.softlink.datastore.StartUp</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <!-- Home Module Servlets -->
  <servlet>
    <servlet-name>Home-userservice</servlet-name>
    <servlet-class>com.softlink.financehome.server.services.UserServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home-userservice</servlet-name>
    <url-pattern>/financehome/userservice_rq</url-pattern>
  </servlet-mapping> 
  
  <!-- Financial Module Servlets -->
  <servlet>
    <servlet-name>Financial-financialrequirementsImpl</servlet-name>
    <servlet-class>com.softlink.finance.server.services.DataStoreServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financial-financialrequirementsImpl</servlet-name>
    <url-pattern>/finance/financerequirements_rq</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>Financial-userservice</servlet-name>
    <servlet-class>com.softlink.finance.server.services.UserServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financial-userservice</servlet-name>
    <url-pattern>/finance/userservices_rq</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Financial-mailservice</servlet-name>
    <servlet-class>com.softlink.finance.server.services.MailServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financial-mailservice</servlet-name>
    <url-pattern>/finance/mailservices_rq</url-pattern>
  </servlet-mapping>
  
  <!-- User Module Servlets -->
  <servlet>
    <servlet-name>User-userservice</servlet-name>
    <servlet-class>com.softlink.financeuser.server.services.UserServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User-userservice</servlet-name>
    <url-pattern>/financeuser/userservices_rq</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>User-seriuserImpl</servlet-name>
    <servlet-class>com.softlink.financeuser.server.services.DataStoreServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User-seriuserImpl</servlet-name>
    <url-pattern>/financeuser/seriuser_rq</url-pattern>
  </servlet-mapping> 
  
  <!-- Security Config -->
  <security-constraint>
    <web-resource-collection>
    	<web-resource-name>FinancialModule</web-resource-name>
        <url-pattern>/a/finance/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
    	<web-resource-name>UserService</web-resource-name>
        <url-pattern>/a/finance/user/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <!-- Filter  -->
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>ObjectifyFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>